@model Conexus.FrontEnd.Models.ProductosClientesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar</h1>

<h4>Productos al cliente</h4>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.msj))
{
    <div class="text-danger">ViewBag.msj</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cliente.Id" />
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" asp-items="Model.Productos" class="form-control"></select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-ClienteId="@Model.cliente.Id">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
